<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %} | ПРОГНОЗОВ.RU
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='/font/iconsmind-s/css/iconsminds.css') }}"/>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='/font/simple-line-icons/css/simple-line-icons.css') }}"/>

    <link rel="stylesheet" href="{{ url_for('static', filename='/css/vendor/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/vendor/bootstrap.rtl.only.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/vendor/fullcalendar.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/vendor/dataTables.bootstrap4.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/vendor/datatables.responsive.bootstrap4.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/vendor/select2.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/vendor/select2-bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/vendor/perfect-scrollbar.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/vendor/glide.core.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/vendor/bootstrap-stars.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/vendor/nouislider.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/vendor/bootstrap-datepicker3.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/vendor/component-custom-switch.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}"/>
</head>

<body id="app-container" class="menu-default show-spinner">

        <section class="section_rotate-alert">
            <div>
                <span style="font-size: 18px; text-align: center;">Пожалуйста, переверните телефон, чтобы открыть сайт</span><br>
            </div>
            <div style="position: absolute; top: 126px;">
                <i style="font-size: 70px;" class="glyph-icon iconsminds-rotation"></i>
            </div>
        </section>

<nav class="navbar fixed-top">
    <div class="d-flex align-items-center navbar-left">
        <a href="#" class="menu-button d-none d-md-block">
            <svg class="main" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 17">
                <rect x="0.48" y="0.5" width="7" height="1"/>
                <rect x="0.48" y="7.5" width="7" height="1"/>
                <rect x="0.48" y="15.5" width="7" height="1"/>
            </svg>
            <svg class="sub" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 17">
                <rect x="1.56" y="0.5" width="16" height="1"/>
                <rect x="1.56" y="7.5" width="16" height="1"/>
                <rect x="1.56" y="15.5" width="16" height="1"/>
            </svg>
        </a>

        <a href="#" class="menu-button-mobile d-xs-block d-sm-block d-md-none">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 17">
                <rect x="0.5" y="0.5" width="25" height="1"/>
                <rect x="0.5" y="7.5" width="25" height="1"/>
                <rect x="0.5" y="15.5" width="25" height="1"/>
            </svg>
        </a>

    </div>

    <a class="navbar-logo" href="/">
        <span class="logo d-none d-xs-block"></span>
        <span class="logo-mobile d-block d-xs-none"></span>
    </a>

    <div class="navbar-right">
        <div class="header-icons d-inline-block align-middle">

            <!--Дополнительное меню сверху
            <div class="position-relative d-none d-sm-inline-block">
                <button class="header-icon btn btn-empty" type="button" id="iconMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="simple-icon-grid"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right mt-3  position-absolute" id="iconMenuDropdown">
                    <a href="#" class="icon-menu-item">
                        <i class="iconsminds-equalizer d-block"></i>
                        <span>Settings</span>
                    </a>

                    <a href="#" class="icon-menu-item">
                        <i class="iconsminds-male-female d-block"></i>
                        <span>Users</span>
                    </a>

                    <a href="#" class="icon-menu-item">
                        <i class="iconsminds-puzzle d-block"></i>
                        <span>Components</span>
                    </a>

                    <a href="#" class="icon-menu-item">
                        <i class="iconsminds-bar-chart-4 d-block"></i>
                        <span>Profits</span>
                    </a>

                    <a href="#" class="icon-menu-item">
                        <i class="iconsminds-file d-block"></i>
                        <span>Surveys</span>
                    </a>

                    <a href="#" class="icon-menu-item">
                        <i class="iconsminds-suitcase d-block"></i>
                        <span>Tasks</span>
                    </a>

                </div>
            </div-->
            <!--Интефейс нотификации
            <div class="position-relative d-inline-block">
                <button class="header-icon btn btn-empty" type="button" id="notificationButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="simple-icon-bell"></i>
                    <span class="count">3</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right mt-3 position-absolute" id="notificationDropdown">
                    <div class="scroll">
                        <div class="d-flex flex-row mb-3 pb-3 border-bottom">
                            <a href="#">
                                <img src="{{ url_for('static', filename='/img/profiles/l-2.jpg" alt="Notification Image"
                                    class="img-thumbnail list-thumbnail xsmall border-0 rounded-circle" />
                            </a>
                            <div class="pl-3">
                                <a href="#">
                                    <p class="font-weight-medium mb-1">Joisse Kaycee just sent a new comment!</p>
                                    <p class="text-muted mb-0 text-small">09.04.2018 - 12:45</p>
                                </a>
                            </div>
                        </div>
                        <div class="d-flex flex-row mb-3 pb-3 border-bottom">
                            <a href="#">
                                <img src="{{ url_for('static', filename='/img/notifications/1.jpg" alt="Notification Image"
                                    class="img-thumbnail list-thumbnail xsmall border-0 rounded-circle" />
                            </a>
                            <div class="pl-3">
                                <a href="#">
                                    <p class="font-weight-medium mb-1">1 item is out of stock!</p>
                                    <p class="text-muted mb-0 text-small">09.04.2018 - 12:45</p>
                                </a>
                            </div>
                        </div>
                        <div class="d-flex flex-row mb-3 pb-3 border-bottom">
                            <a href="#">
                                <img src="{{ url_for('static', filename='/img/notifications/2.jpg" alt="Notification Image"
                                    class="img-thumbnail list-thumbnail xsmall border-0 rounded-circle" />
                            </a>
                            <div class="pl-3">
                                <a href="#">
                                    <p class="font-weight-medium mb-1">New order received! It is total $147,20.</p>
                                    <p class="text-muted mb-0 text-small">09.04.2018 - 12:45</p>
                                </a>
                            </div>
                        </div>
                        <div class="d-flex flex-row mb-3 pb-3 ">
                            <a href="#">
                                <img src="{{ url_for('static', filename='/img/notifications/3.jpg" alt="Notification Image"
                                    class="img-thumbnail list-thumbnail xsmall border-0 rounded-circle" />
                            </a>
                            <div class="pl-3">
                                <a href="#">
                                    <p class="font-weight-medium mb-1">3 items just added to wish list by a user!
                                    </p>
                                    <p class="text-muted mb-0 text-small">09.04.2018 - 12:45</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div-->

            <button class="header-icon btn btn-empty d-none d-sm-inline-block" type="button" id="fullScreenButton">
                <i class="simple-icon-size-fullscreen"></i>
                <i class="simple-icon-size-actual"></i>
            </button>

        </div>


        {% if current_user.is_anonymous %}{% else %}
        <div class="user d-inline-block">
            <button class="btn btn-empty p-0" type="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                <span class="name">{{ current_user.username }}</span>
                <span>
                        <img style="object-fit: cover; width: 40px; height: 40px;" alt="Profile picture"
                             src="data:;base64,{{avatar}}"/>
                        
                    </span>
            </button>

            <div class="dropdown-menu dropdown-menu-right mt-3">
                <a class="dropdown-item" href="{{ url_for('user', username=current_user.username) }}">Мой акаунт</a>
                <a class="dropdown-item" href="{{ url_for('logout') }}">Выйти</a>
            </div>
        </div>
        {% endif %}
    </div>
</nav>
<div class="menu">
    <div class="main-menu">
        <div class="scroll">
            <ul class="list-unstyled">
                {% if current_user.is_anonymous %}
                <li>
                    <a href="{{ url_for('login') }}">
                        <i class="simple-icon-login"></i> Войти
                    </a>
                </li>
                {% else %}
                <li {% block active %}{% endblock %}>
                    <a href="/">
                        <i class="iconsminds-trophy"></i>
                        <span>Результаты</span>
                    </a>
                </li>
                <li {% block activematch %}{% endblock %}>
                    <a href="{{ url_for('matchs') }}">
                        <i class="iconsminds-calendar-4"></i> Матчи
                    </a>
                </li>
                <li {% block activeacc %}{% endblock %}>
                    <a href="{{ url_for('user', username=current_user.username) }}">
                        <i class="iconsminds-male-female d-block"></i> Мой аккаунт
                    </a>
                </li>
                <li {% block activehowtoplay %}{% endblock %}>
                    <a href="{{ url_for('index')}}">
                        <i class="simple-icon-question"></i> Как играть?
                    </a>
                </li>
                <li {% block activeadd %}{% endblock %}>
                    {% if current_user.username == 'admin' %}
                    <a href="{{ url_for('register') }}">
                        <i class="simple-icon-user-follow"></i> Добавить
                    </a>
                    {% endif %}
                </li>
                <li>
                    <a href="{{ url_for('logout') }}">
                        <i class="simple-icon-logout"></i> Выйти
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>

</div>

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <h1>
                    {% block content_title %}
                    {% endblock %}
                </h1>
                <div class="separator mb-5"></div>


            </div>
        </div>
        {% for mesg in get_flashed_messages() %}
            <div class="col-lg-4 alert alert-primary rounded" role="alert">{{ mesg }}</div>
        {% endfor %}
        {% block content%}
        {% endblock %}

    </div>
</main>

<footer class="page-footer">
    <div class="footer-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <p class="mb-0 text-muted">ARTICA.RU 2021</p>
                </div>
                <div class="col-sm-6 d-none d-sm-block">
                    <ul class="breadcrumb pt-0 pr-0 float-right">
                        <li class="breadcrumb-item mb-0">
                            <a href="tel:+79132344444" class="btn-link">Позвонить админу</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="{{ url_for('static', filename='/js/vendor/jquery-3.3.1.min.js }}"></script>
<script src="{{ url_for('static', filename='/js/vendor/bootstrap.bundle.min.js }}"></script>
<script src="{{ url_for('static', filename='/js/vendor/moment.min.js }}"></script>
<script src="{{ url_for('static', filename='/js/vendor/perfect-scrollbar.min.js }}"></script>
<script src="{{ url_for('static', filename='/js/vendor/glide.min.js }}"></script>
<script src="{{ url_for('static', filename='/js/vendor/jquery.barrating.min.js }}"></script>
<script src="{{ url_for('static', filename='/js/vendor/select2.full.js }}"></script>
<script src="{{ url_for('static', filename='/js/vendor/bootstrap-datepicker.js }}"></script>
<script src="{{ url_for('static', filename='/js/vendor/Sortable.js }}"></script>
<script src="{{ url_for('static', filename='/js/vendor/mousetrap.min.js }}"></script>
<script src="{{ url_for('static', filename='/js/dore.script.js }}"></script>
<script src="{{ url_for('static', filename='/js/scripts.js }}"></script>
<!--script src="{{ url_for('static', filename='/js/vendor/progressbar.min.js }}"></script>
<script src="{{ url_for('static', filename='/js/vendor/fullcalendar.min.js }}"></script>
<script src="{{ url_for('static', filename='/js/vendor/nouislider.min.js }}"></script>
<script src="{{ url_for('static', filename='/js/vendor/Chart.bundle.min.js }}"></script>
<script src="{{ url_for('static', filename='/js/vendor/datatables.min.js }}"></script>
<script src="{{ url_for('static', filename='/js/vendor/chartjs-plugin-datalabels.js }}"></script-->
</body>

</html>
