{% extends  'base.html' %}


{% block title %}
    Bets
{% endblock %}

{% block content_title %}
    Турнирная таблица
{% endblock %}

{% block content%}
<div class="row">
			<div class="col-md-6 col-sm-6 col-lg-3 col-12 mb-4">
                            <div class="card ">
                                <div class="card-body">
                                    <div class="text-center">
                                        <p class="mb-4 text-muted text-small">Первое место</p>
                                        <img class="img-thumbnail border-0 rounded-circle mb-4 list-thumbnail" style="object-fit: cover; width: 100px; height: 100px;" alt="This is anonymous picture" src="https://starbets.herokuapp.com/static/a.jpg" />
                                        <p class="list-item-heading mb-1">Антон Вольных</p>
                                    </div>
                                </div>
                            </div>
            </div>
            			<div class="col-md-6 col-sm-6 col-lg-3 col-12 mb-4">
                            <div class="card ">
                                <div class="card-body">
                                    <div class="text-center">
                                        <p class="mb-4 text-muted text-small">Второе место</p>
                                        <img class="img-thumbnail border-0 rounded-circle mb-4 list-thumbnail" style="object-fit: cover; width: 100px; height: 100px;" alt="This is anonymous picture" src="https://starbets.herokuapp.com/static/admin.jpg" />
                                        <p class="list-item-heading mb-1">Лесли Хэдланд</p>
                                    </div>
                                </div>
                            </div>
            </div>

                        			<div class="col-md-6 col-sm-6 col-lg-3 col-12 mb-4">
                            <div class="card ">
                                <div class="card-body">
                                    <div class="text-center">
                                        <p class="mb-4 text-muted text-small">Третье место</p>
                                        <img class="img-thumbnail border-0 rounded-circle mb-4 list-thumbnail" style="object-fit: cover; width: 100px; height: 100px;" alt="This is anonymous picture" src="https://starbets.herokuapp.com/static/kk.jpg" />
                                        <p class="list-item-heading mb-1">Светка и собака</p>
                                    </div>
                                </div>
                            </div>
            </div>
</div>
<div class="row">

<div class="col-lg-9 col-md-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Турнирая таблица EURO2021</h5>
                            <table  width="100%" class="table">
                                <thead>
                                    <tr>
                                        <th width="5px;" scope="col">№</th>
                                        <th width="20%;"scope="col">Имя</th>
                                        <th scope="col">Игры</th>
                                        <th width="15px;"scope="col">Очки</th>
                                    </tr>
                                </thead>
                                <tbody>
									
									{%set count =[0]%}
									{% for user, bets in bets_dict.items() %}
									{% if count.append(count.pop() + 1) %}{% endif %}<tr>
                                        <th scope="row">{{count[0]}}</th>
                                        <td>{{user}}</td>
                                        <td>
                                        {%set res = [0]%}	
                                        {% for bet, info in bets.items() %}
                                        {% if res.append(res.pop() + bet | int) %}{% endif %}
                                        {%if bet|int() == 5 %} 
                                        <span style="cursor: pointer; color: #ff8f00;" data-toggle="tooltip" data-placement="top" title="{{info}}">{{bet}}</span>
                                        {%elif bet|int() == 4 %}
                                        <span style="cursor: pointer; color: #129803;" data-toggle="tooltip" data-placement="top" title="{{info}}">{{bet}}</span>
                                        {%elif bet|int() == 2 %}
                                        <span style="cursor: pointer; color: #2f76e2;" data-toggle="tooltip" data-placement="top" title="{{info}}">{{bet}}</span>
                                        {%else%}
                                        <span style="cursor: pointer;" data-toggle="tooltip" data-placement="top" title="{{info}}">{{bet}}</span>
                                        {%endif%}
                                        {% endfor %}</td>
                                        <td>{{res[0]}}</td>
                                    </tr> {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
</div> 
</div>
{% endblock %}