{% extends  'base.html' %}


{% block title %}
    Bets
{% endblock %}

{% block content_title %}
    Список ставок
{% endblock %}

{% block content%}

	<form action="" method="post" novalidate>
		{{ form.hidden_tag() }}
	<table border="0" cellpadding="1" cellspacing="1" style="width:100%">
		<tbody>
			<tr>
				<td style="text-align:center">Прогноз на матч <br>{{match.team1}} vs {{match.team2}}</td>
			</tr>
		</tbody>
	</table>

	<table border="0" cellpadding="1" cellspacing="1" style="width:100%">
		<tbody>
			<tr>
				<td style="text-align:center">{{ form.t1_pre(size=10, value=my_bet.t1_pre) }}</td>
				<td style="text-align:center">{{ form.t2_pre(size=10, value=my_bet.t2_pre) }}</td>
			</tr>

		</tbody>

	</table>
	<пока не работает table border="0" cellpadding="1" cellspacing="1" style="width:100%">
		<tbody>
			<tr>
				<td style="text-align:center"> {{ form.comment(value=my_bet.comment) }}   </td>
			</tr>
		</tbody>
	</table>
	<p>{{ form.submit() }}</p>
	<p>&nbsp;</p>

	</form>

<!--
<h1> Прогнозы других игроков:</h1>
{% for albet in all_bet %}

<p>{{udic[albet.user_id]}} {{albet.t1_pre}} : {{albet.t2_pre}} {{albet.comment}}</p> -->
{% endfor %}
{% endblock %}