{% extends  'base.html' %}


{% block title %}
    Редактирование пользователя
{% endblock %}

{% block content_title %}
    Редактирование профиля
{% endblock %}


{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

<div style="float: left;">
<img style="object-fit: cover; width: 180px; height: 180px; border-radius: 250px; padding-right: 10px;" alt="Profile picture" src="data:;base64,{{avatar}}"/>
</div>
<div>
            <p>
                Выберете файл аватара. Не больше 2мб.
            </p>
            <p>
                {{ form.photo }}
                {% for error in form.photo.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
             </p>
</div>

        <p style="clear: both;">
			{{username}}
            <br>
            <br>

        </p>
        <p>
            {{ form.fio.label }}<br>
            {{ form.fio(size=32, value=user.fio) }}<br>
            {% for error in form.fio.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <!--p>
            {{ form.email.label }}<br>
            {{ form.email(size=32, value=user.email) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p-->
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}


        </p>
        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}