{% extends  'base.html' %}


{% block title %}
    StarBetsSystem
{% endblock %}

{% block content_title %}
    Предварительный разбор полетов для проекта “Ставки на ЧС и ЕВРО”
{% endblock %}

{% block content%}
<br>
Задача: сделать сайт или сервис (телеграмм-бот) для прогнозов на матчи Чемпионата Мира или ЕВРО. Чтобы бездушная машина все считала сама, вместо людей, а люди просто бы делали свои прогнозы. Ну ладно, обо всем по порядку!
</br>

<br>
Суть сервиса:
Есть группа людей, которые много о себе думают, типа они лучшие предсказатели матчей, ага! Эта группа на каждый чемпионат объединяется, чтобы выяснить кто из них пизжец. На каждый матч они делают прогноз. Типа Аргентина выиграет со счетом 5:0. Если в игровой день больше игр, участник делает прогноз на каждый матч.
Далее происходит магия! Антон поставил прогноз на Аргентина - Ямайка 5:0. А Вася на туже игру но 1:2. Итоговый матч закончился со счетом 1:2! Вася сорвал куш! Вася получает 5 баллов. А если бы матч закончился со счетом 1:3 то Вася получил бы 3 очка, так как он угадал победителя, но не угадал счет. (расценки по каждому сценарию будут даны позже) Так вот Вася занес себе на счет 5 очков.
Турнирная таблица. Есть такая таблица где можно посмотреть общий результат и свое текущее положение. Вот пример такой, уже сыгранной таблицы!
Есть и регламент у этого всего! Он большой и нудный, я тебе покажу его позже, Там вобщем то свод правил и разбор различных сценариев. Пока не интересно. Но вот что важно!
За 30 минут до начала игры, нужно сделать прогноз, если ты его не сделал, то твой прогноз на матч будет 0:0. Сыграли так — красава, сыграли иначе — сорян.
Кто, что поставил на матч не видно другим пользователям. Ты можешь видеть только свои ставки. За 30 минут до начала матча, прогнозы открываются всем участникам
Это основа, остальное частности, которые можно разобрать позже.
</br>

<br>
Теперь блок вопросов на обсуждение:
Платформа и стек технологий? Вообще я думаю так, с точки зрения кода и замороча, сайт или бот значения не имеет, полученная платформа может работать и там и так. Но как ты говорил ранее, с точки зрения UI/UX лучшей сайт. Короче идея такая: если выберем сайт, сделаем на WP, я возьме на себя фронт а ты бэк. Если бота, тот тут видимо я только смогу участвовать в шоу “Смотри как я кодю”. Обсуждаем.
База данных. Как хранить такой треш, чтобы потом не офигеть от его использования?
Система ролей и пользователей. Вот тут тоже интересно! Если сайт то в WP есть уже готова система ролей, но надо будет разобраться немного в ней и адаптировать под нас. Если бот, то видимо как-то придется призываться к номеру телефона или что-то другое гомырить. В общем надо как-то понимать, кто делает ставку.
Парсинг результатов матча, я так понимаю, вообще не проблема), просто добавил сюда для общего понимания.
Будет круто, если мы заложим сюда масштабируемость, хотя-бы какой-то минимум. Чтобы можно было создавать несколько таких турнирных таблиц. Но тут важно понимать, что сейчас такой задачи не стоит вообще.
</br>
<br>
Вроде пока все что хотел сказать.
Давай созваниваться, можно в воскресение, в любой время.
</br>
____
if to do нам в помощь!

{% endblock %}