{% extends  'base.html' %}

{% block activehowtoplay %}class="active"{% endblock %}

{% block title %}
    Правила игры
{% endblock %}

{% block content_title %}
Правила
{% endblock %}

{% block content%}
<br>
<h1>Регламент конкурса прогнозов. Чемпионат мира по футболу FIFA 2022™ в Катарe</h1>
<p>1. До начала конкурса организатор регистрирует участников и высылает данные для входа в личный кабинет, доступный только этому участнику.
</p>
<p>2. Прогноз на каждую игру должен быть внесён участником в разделе <a href="/matchs/"><b>«Матчи»</b></a> Личного кабинета не позднее чем за 1 час до времени проведения матча. Время проведения матчей на сайте указано московское. В случае отсутствия прогноза в условленное время, прогнозом считается счёт <b>0-0</b> со всеми вытекающими последствиями.

</p>
<p>3. На следующий день, организатор вносит фактические результаты матчей, участникам начисляются очки в соответствии с п8 Регламента. С результатами и текущим положением дел в конкурсе можно ознакомиться в разделе <a href="/"><b>"Результаты"</b></a> Личного кабинета
</p>
<p>4. Правила начисления очков:<br>
— Угадан победитель матча – 2 очка <span class="circle_two">2</span> <br>
— Угдан победитель и разница мячей – 3 очка <span class="circle_three">3</span><br>
— Угдан счет в случае ничьей – 4 очка <span class="circle_four">4</span><br>
— Угадан победитель и счет в случае победы одной из команд– 5 очков <span class="circle_five">5</span><br>
В играх «на вылет» в учет принимается только результат основного времени матча.
</p>
<p>5. Победителем становится участник, набравший максимальное  количество очков. В случае если несколько участников – лидеров  набирают одинаковое количество очков, победителем становится игрок, угадавший  максимальное количество (Если пункта а. недостаточно, то пункт б. и так далее):<br>
a) победителей матча (пункт 8а правил), <br>
b) победителей матча  с разницей мячей (пункт 8б правил), <br>
c) угаданных счетов в случае ничьей (пункт 8с правил)<br>
d) угаданных счетов в случае победы одной из команд (пункт 8д правил)<br>
e) В случае проживания конкурсантов в одном городе – в серии пенальти друг другу по 5 ударов, в противном случае – жребием. 
</p>
<p>6. Участие в конкурсе подразумевает, что вы поняли и приняли его правила.</p>
</p>

{% endblock %}
