{% extends  'base.html' %}


{% block title %}
    Матчи
{% endblock %}

{% block content_title %}
    Список матчей
{% endblock %}

{% block content%}
    {% if current_user.username == 'admin' %}
    <div>
        <p>Функционал администратороа</p>
    <form style="padding-bottom: 20px;" action="{{ url_for('matchadd') }}">
        <button type="submit" class="btn btn-secondary btn-lg mb-1">Добавить матч</button>
    </form>
    </div>
    {% endif %}
        <div class="col-lg-6 col-md-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Матчи EURO2021</h5>
                                <table  width="100%" class="table">
                                    <thead>
                                        <tr>
                                            <th width="5px;" scope="col">№</th>
                                            <th scope="col">Команда 1</th>
                                            <th scope="col">Команда 2</th>
                                            <th scope="col">Начало</th>
                                            <th scope="col">Резльтат</th>
                                            <th scope="col">Статус</th>
                                            <th style="background-color: #dfeeff;" scope="col">Мой прогноз</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                            {% if current_user.username == 'admin' %}
                                        {% for match in matchs %}
                                            <th scope="row">{{match.id}}</th>
                                            <td><a href="{{ url_for('editmatchs', match_id = match.id) }}">{{match.team1}}</a></td>
                                            <td><a href="{{ url_for('editmatchs', match_id = match.id) }}">{{match.team2}}</a></td>
                                            <td>{% if match.completed%}
                                            Админ! Где начало матча?
                                            {%else%} {{match.timestamp}}
                                            {% endif %}</td>
                                            <td><b>{{match.t1_res}} : {{match.t2_res}}</b></td>
                                            <td>{% if match.completed%} Матч завершен!
                                            {%else%} <div class="glyph-icon simple-icon-control-play"></div>
                                            {% endif %}</td>
                                            <td style="background-color: #dfeeff;">{{match.t1_pre}} : {{match.t2_pre}}</td>
                                            </tr>
                                        {% endfor %}
                                        {%else%}

                                        {% for match in matchs %}
                                            <th scope="row">{{match.id}}</th>
                                            <td><a href="{{ url_for('editbets', match_id = match.id) }}">{{match.team1}}</a></td>
                                            <td><a href="{{ url_for('editbets', match_id = match.id) }}">{{match.team2}}</a></td>
                                            <td>{% if match.completed%}
                                            {%else%} {{match.timestamp}}
                                            {% endif %}</td>
                                            <td><b>{{match.t1_res}} : {{match.t2_res}}</b></td>
                                            <td>{% if match.completed%} Матч завершен!
                                            {%else%} <div class="glyph-icon simple-icon-control-play"></div>
                                            {% endif %}</td>
                                            <td style="background-color: #dfeeff;">{{match.t1_pre}} : {{match.t2_pre}}</td>
                                            </tr>
                                        {% endfor %}
                                        {% endif %}
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                    </div>
        </div>

{% endblock %}