{% extends  'base.html' %}


{% block title %}
    Добавление матча
{% endblock %}

{% block content_title %}
    Добавление матча
{% endblock %}

{% block content%}

<div class="row">
<div class="col-lg-6 col-md-12 mb-4">
<div class="card mb-4">
            <div class="card-body">
            <h5 class="mb-4">Добавить новый матч</h5>
        <form method="post">
            <div class="form-group" >
                <label>Команда 1</label>
                <select class="form-control select2-single select2-hidden-accessible" data-width="100%" tabindex="-1" aria-hidden="true" name="team1">
                    <option label="&nbsp;">&nbsp;</option>
                    <option value="Италия">🇮🇹 Италия</option>
                    <option value="Швейцария">🇸🇪 Швейцария</option>
                    <option value="Турция">🇹🇷 Турция</option>
                    <option value="Уэльс">🏴󠁧󠁢󠁷󠁬󠁳󠁿 Уэльс</option>
                    <option value="Бельгия">🇧🇪 Бельгия</option>
                    <option value="Дания">🇩🇰 Дания</option>
                    <option value="Россия">🇷🇺 Россия</option>
                    <option value="Финляндия">🇫🇮 Финляндия</option>
                    <option value="Украина">🇺🇦 Украина</option>
                    <option value="Нидерланды">🇳🇱 Нидерланды</option>
                    <option value="Австрия">🇦🇹 Австрия</option>
                    <option value="С.Македония">🇲🇰 С.Македония</option>
                    <option value="Англия">🏴󠁧󠁢󠁥󠁮󠁧󠁿 Англия</option>
                    <option value="Хорватия">🇭🇷 Хорватия</option>
                    <option value="Чехия">🇨🇿 Чехия</option>
                    <option value="Шотландия">🏴󠁧󠁢󠁳󠁣󠁴󠁿 Шотландия</option>
                    <option value="Испания">🇪🇸 Испания</option>
                    <option value="Польша">🇵🇱 Польша</option>
                    <option value="Швеция">🇸🇪 Швеция</option>
                    <option value="Словакия">🇸🇰 Словакия</option>
                    <option value="Германия">🇬🇬 Германия</option>
                    <option value="Португалия">🇵🇹 Португалия</option>
                    <option value="Франция">🇫🇷 Франция</option>
                    <option value="Венгрия">🇭🇺 Венгрия</option>
                </select>
            </div>
            <div class="form-group" >
                <label>Команда 2</label>
                <select class="form-control select2-single select2-hidden-accessible" data-width="100%" tabindex="-1" aria-hidden="true" name="team2">
                    <option label="&nbsp;">&nbsp;</option>
                    <option value="Италия">🇮🇹 Италия</option>
                    <option value="Швейцария">🇸🇪 Швейцария</option>
                    <option value="Турция">🇹🇷 Турция</option>
                    <option value="Уэльс">🏴󠁧󠁢󠁷󠁬󠁳󠁿 Уэльс</option>
                    <option value="Бельгия">🇧🇪 Бельгия</option>
                    <option value="Дания">🇩🇰 Дания</option>
                    <option value="Россия">🇷🇺 Россия</option>
                    <option value="Финляндия">🇫🇮 Финляндия</option>
                    <option value="Украина">🇺🇦 Украина</option>
                    <option value="Нидерланды">🇳🇱 Нидерланды</option>
                    <option value="Австрия">🇦🇹 Австрия</option>
                    <option value="С.Македония">🇲🇰 С.Македония</option>
                    <option value="Англия">🏴󠁧󠁢󠁥󠁮󠁧󠁿 Англия</option>
                    <option value="Хорватия">🇭🇷 Хорватия</option>
                    <option value="Чехия">🇨🇿 Чехия</option>
                    <option value="Шотландия">🏴󠁧󠁢󠁳󠁣󠁴󠁿 Шотландия</option>
                    <option value="Испания">🇪🇸 Испания</option>
                    <option value="Польша">🇵🇱 Польша</option>
                    <option value="Швеция">🇸🇪 Швеция</option>
                    <option value="Словакия">🇸🇰 Словакия</option>
                    <option value="Германия">🇬🇬 Германия</option>
                    <option value="Португалия">🇵🇹 Португалия</option>
                    <option value="Франция">🇫🇷 Франция</option>
                    <option value="Венгрия">🇭🇺 Венгрия</option>
                </select>
            </div>
            <div class="form-group" >
                <label>Начало матча</label>
                <div class="input-group ">
                    <input type="text" class="form-control" name="datetime">
                    <span class="input-group-text input-group-append input-group-addon">
                        <i class="simple-icon-calendar"></i>
                    </span>
                </div>
            </div>



                <button type="submit" class="btn btn-primary mb-0">Создать матч</button>
             </form>
                        </div>
                    </div>
                        </div>
                    </div>

<!-- На этапе создания матча нельзя поставить результаты игры. Этот фунционал нужно вынести на страницу внесения результатов -->
<!--

-->

{% endblock %}