{% extends  'base.html' %}


{% block title %}
    Добавление матча
{% endblock %}

{% block content_title %}
    Добавление матча
{% endblock %}

{% block content%}

<div class="row">
<div class="col-lg-6 col-md-12 mb-4">
<div class="card mb-4">
            <div class="card-body">
            <h5 class="mb-4">Добавить новый матч</h5>
        <form method="post">
            <div class="form-group" >
                <label>Команда 1</label>
                <input type="text" class="form-control" tabindex="1" name="team1">
            </div>
            <div class="form-group" >
                <label>Команда 2</label>
                <input type="text" class="form-control" tabindex="2" name="team2">
            </div>
            <div class="form-group" >
                <label>Начало матча (Формат: 2021-05-31 16:42:40)</label>
                <div class="input-group">
                    <input type="text" class="form-control" tabindex="3" name="datetime">
                </div>
            </div>



                <button type="submit" class="btn btn-primary mb-0" tabindex="4">Добавить матч</button>
             </form>
                        </div>
                    </div>
                        </div>
                    </div>

<!-- На этапе создания матча нельзя поставить результаты игры. Этот фунционал нужно вынести на страницу внесения результатов -->
<!--

-->

{% endblock %}
