{% extends "base.html" %}

{% block activeacc %}class="active"{% endblock %}

{% block content %}
<h1>User: {{ user.username }}</h1>
    <p>
        <td><img src="data:;base64,{{userpic}}" style="border-radius:50%; height: 200px;"></td>
    </p>
    <!--

    <hr>
    {% for post in posts %}
    <p>
    {{ post.author.username }} says: <b>{{ post.body }}</b>
    </p>
    {% endfor %} -->
    <a href="{{ url_for('edituser', username=current_user.username) }}" ><span class="btn btn btn-secondary btn-xs">Редактировать {{ user.username }}</span></a>
{% endblock %}