{% extends "base.html" %}

{% block activeacc %}class="active"{% endblock %}

{% block content %}
    <p>
        <td><img src="{{ url_for('static', filename=user.avatar)}}" style="border-radius:50%;"></td>
    </p>
    <h1>User: {{ user.username }}</h1>

    <hr>
    {% for post in posts %}
    <p>
    {{ post.author.username }} says: <b>{{ post.body }}</b>
    </p>
    {% endfor %}
    <a class="nav-item nav-link active" href="{{ url_for('edituser', username=current_user.username) }}" >{{ "edit user info" }}</a>
{% endblock %}